SECRET_KEY=change-me-to-a-random-string
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
DISCORD_DEPUTY_ROLE_ID=1524146019103670362
DISCORD_LEADERS_ROLE_ID=1524081975353282713
BOT_INTERNAL_HOST=127.0.0.1
BOT_INTERNAL_PORT=8899
